/PotterShoppingCart.Tests/bin
/PotterShoppingCart.Tests/obj
/PotterShoppingCart/bin
/PotterShoppingCart/obj
/.vs/PotterShoppingCart/v14/.suo
/PotterShoopinCart/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
